@media only screen and (max-width: 620px) {
    .p1 > .image, .p2 > .image, .p3 > .image{
        display: none;
    }
}

@media only screen and (max-width: 795px) {
    .p1 > .text {
        flex: 3 0 0%;
        text-align: justify;
        margin: auto 0;
    }
}

@media only screen and (min-width: 1200px) {
    .about-title {
        font-size: xx-large;
    }

    .text {
        font-size: 20px;
        font-weight: 600;
    }
}

.about-page-image-container {
    position: relative;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.about-page-image {
    width: 100%;
    border-radius: 10px;
}

.about-title {
    text-align: center;
}

.about-paragraph-container {
    margin-top: 50px;
}

.p1, .p3 {
    display: flex;
    flex-direction: row-reverse;
}
.p1 > .image, .p3 > .image {
    flex: 1 0 0%;
    text-align: right;
    margin-left: 20px;
}
.p1 > .image > img, .p3 > .image > img {
    vertical-align: top;
    width: 200px;
    max-width: 100%;
    border-radius: 5%;
}
.p1 > .text, .p3 > .text {
    flex: 3 0 0%;
    text-align: justify;
    margin: auto 0;
}

.p2 {
    display: flex;
    flex-direction: row;
}
.p2 > .image {
    flex: 1 0 0%;
    text-align: left;
    margin-right: 20px;
}
.p2 > .image > img {
    vertical-align: top;
    width: 200px;
    max-width: 100%;
    border-radius: 5%;
}
.p2 > .text {
    flex: 3 0 0%;
    text-align: justify;
    margin: auto;
}

.p4 > .text {
    margin-bottom: 90px;
    text-align: center;
}

.p2, .p3, .p4, .p4 > .text {
    margin-top: 50px;
}