body {
    font-family: "Raleway";
}

.body-container {
    margin: 0;
    margin-left: 20%;
    margin-right: 20%;
}

.logo-container {
    display: flex;
    justify-content: center;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.logo-image {
    margin-top: 10px;
    width: 60px;
}

.nav-container {
    text-align: center;
    
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.nav > li {
    list-style: none;
    display: inline-block;
    margin-right: 40px;
    font-size: larger;
    font-weight: 600;
}

.nav-link :hover{
    text-decoration: underline;
    cursor: pointer;
    color: black;
}

@media only screen and (max-width: 780px) {
    .body-container {
        margin-left: 0;
        margin-right: 0;
    }

    .nav-container {
        display: none;
    }

    .nav > li {
        margin-right: 10px;
    }

    .logo-image {
        width: 40px;
    }

    .home-image {
        margin-top: 3px;
    }

    .home-page-text {
        display: block;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);

        font-size: x-large;

        color: white;
    
        pointer-events: none;
    
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
    }
    .home-image{
        filter: blur(0.5px) brightness(60%);
        -webkit-filter: blur(0.5px) brightness(60%);
    
        cursor: pointer;
    }
}

@media only screen and (min-width: 780px){
    .home-page-text {
        display: none;
        color: white;
    
        pointer-events: none;
    
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
    }
    
    .home-image:hover{
        filter: blur(2px) brightness(50%);
        -webkit-filter: blur(2px) brightness(50%);
    
        cursor: pointer;
    }
    .home-image:hover ~ .home-page-text{
        display: block;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

a:link { text-decoration: none; color: black; }
a:visited { text-decoration: none; color: black; }
a:hover { text-decoration: none; color: black; }
a:active { text-decoration: none; color: black; }

.home-image-container {
    position: relative;
    text-align: center;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.home-image {
    width: 100%;
    border-radius: 15px;

    transition: 0.3s;
}